<a href="https://colab.research.google.com/github/thummapalasuresh/pythonpractice/blob/main/python_Tasks_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1 (Inbuilt_Functions)

In [ ]:
var=" welcome to python"
print(var.find("to"))

9

In [ ]:
var="welcome to python"
##print(dir(var))
cap= var.capitalize()
print ("older", var)
print ("capital", cap)
print("__" * 10)

cap= var.casefold()
print ("older", var)
print ("capital", cap)
print("__" * 10)

var= "welcome to python"
cap= var.count('l')
cap1= var.count('w')
print ("count of the letter l", cap)
print ("count of the letter w",cap1)
print("__" * 10)

var= "welcome to python"
cap= var.center(20)
print (cap)
print("__" * 10)


var= "welcome to python"
cap= var.center(50)
print (cap)
print("__" * 10)

var= "welcome to python"
cap= var.title()
print (cap)
print("__" * 10)

var= "welcome to python"
cap= var.upper()
print (cap)
print("__" * 10)

var= "WELCOME TO PYTHON"
cap= var.lower()
print (cap)
print("__" * 10)

var= "welcome to python"
cap= var.encode()
print (cap)

older welcome to python
capital Welcome to python
____________________
older welcome to python
capital welcome to python
____________________
count of the letter l 1
count of the letter w 1
____________________
 welcome to python
____________________
                welcome to python
____________________
Welcome To Python
____________________
WELCOME TO PYTHON
____________________
welcome to python
____________________
b'welcome to python'

#Task 2

In [ ]:
str1= "welcome to python"
str2= var.find("to")
print (str2)

8

In [ ]:
str="welcome to python"
if "to" in str:
  print("success")
  print(str)
else:
  print("Failure")

success
welcome to python

#Task 3 [LISTS]

In [ ]:
var= [1,2,3,4,5,"dharma",7,8,"satya",10]
print(len(var))
var1= [var[5], var[8]]
print (var1)

10
['dharma', 'satya']

#Task 4 [LISTS]

In [ ]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].append(70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
l2 = [1,2,[3,4,5,6],9]
l2[2].append([7,8])
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

#Task 5 {DICTIONORIES}

In [ ]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70 
         }
      }
   }
}

#print("__" *10)
name=dict1["april_batch"]["student"]["name"]
print (name)
marks=dict1["april_batch"]["student"]["marks"]["python"]
print(marks)
myname=dict1["april_batch"]["student"]["name"]="Suresh"
print(myname)
dict1["april_batch"]["student"]["marks"]["ml"]=80
#if we want to add single data 
print(dict1)

Mike
80
Suresh
{'april_batch': {'student': {'name': 'Suresh', 'marks': {'python': 80, 'maths': 70, 'ml': 80}}}}

In [ ]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70 
         }
      }
   }
}

#print("__" *10)
name=dict1["april_batch"]["student"]["name"]
print (name)
marks=dict1["april_batch"]["student"]["marks"]["python"]
print(marks)
myname=dict1["april_batch"]["student"]["name"]="Suresh"
print(myname)
#to add more than one data in dictionary
upd={'ML':80, "DL":80}
dict1["april_batch"]["student"]["marks"].update(upd)
print(dict1)

Mike
80
Suresh
{'april_batch': {'student': {'name': 'Suresh', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

#Task6 - Add and remove the elements from a tuple

tuple is an immutable so to do any mdifications like add or remove the data in tuple initially convert the tuple into list and later do modifications which we required.

In [ ]:
fruits= ("orange", "banana", "apple", "mango", "watermelon", "kiwi")
list1=list(fruits) #conert into list
list1[3]="Guava"
print (list1)

list2=list(fruits)
list2.append("Sugarcane") #append function used to add
print(list2)

list3=list(fruits)
list3.remove("kiwi") #remove function used to remove the element
print(list3)

['orange', 'banana', 'apple', 'Guava', 'watermelon', 'kiwi']
['orange', 'banana', 'apple', 'mango', 'watermelon', 'kiwi', 'Sugarcane']
['orange', 'banana', 'apple', 'mango', 'watermelon']

#TASK 7

Difference:

In [ ]:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [ ]:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

Symmetric_Differeence

In [2]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) #Return a set that contains all items from both sets, except items that are present in both sets:

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

#Task8

In [ ]:
"""LISTS:

mylist = ["apple", "banana", "cherry"]

Lists are created using square brackets:

Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values. ["MUTABLE"]

List items are indexed, the first item has index [0], the second item has index [1] etc. """

In [ ]:
""" Tuples

mytuple = ("apple", "banana", "cherry") 

Tuples are used to store multiple items in a single variable.

Tuples are written with round brackets

Tuple items are ordered, unchangeable, and allow duplicate values. ("IMMUTABLE")

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created."""

In [ ]:
""" myset = {"apple", "banana", "cherry"}

Sets are used to store multiple items in a single variable.

Set items are unordered, unchangeable, and do not allow duplicate values.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created"

set does not allow the duplicate values """

In [ ]:
""" thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values

The dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Duplicates Not Allowed in Dictionaries """

#Task 9

In [ ]:
a=10
b=30
c=int(input("enter the numbers"))
if c==1:
  print(a+b, "=sum of two numbers")
elif c==2:
  print(b-a, "=sub of two numbers")
elif c==3:
  print(a*b, "=mul of the two numbers")
elif c==4:
  print(b/a, "div of the two numbers")
else:
  print("sorry code not registered here")

#TASk 10

In [22]:
i = 10
while(i>1):
    print(i)
    i -= 1
print (i)

10
9
8
7
6
5
4
3
2
1

#Try using for loop to loop over tuples,sets and dictionaries

In [24]:
#Python for loop example with list.

names = ["Suresh", "Reshma", "Rinky"]
for x in names:
  print(x)

Suresh
Reshma
Rinky

In [26]:
#python loop example with string
name = "alex"
for x in name:
  print(x)

a
l
e
x

In [27]:
# python loop for tuple

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [28]:
# python loop for set

colorSet = set(["red","green","blue"])
 
for color in colorSet:
    print(color)

red
green
blue

In [30]:
# python loop for dictionary

colors_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
 
for key in colors_dict.keys():
    print(key)
 
for item in colors_dict.items():
    print(item)

color
fruit
pet
('color', 'blue')
('fruit', 'apple')
('pet', 'dog')

#  what is the uasge of continue wiith an example.

**The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.**

In [31]:
for i in range(9):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7
8

In [33]:
i = 0
while i < 9:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9

#What is pass keyword, with example.

The pass statement is used as a placeholder for future code.
When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed.

In [34]:
for i in range(9):
  if i == 3:
    pass
  print(i)

0
1
2
3
4
5
6
7
8

#TASK 11.1 Explain Return keyword with example.

**The return keyword is to exit a function and return a value.**

In [35]:
def fun(a,b):
  return a+b
fun(3,4)

7

In [42]:
press= int(input("enter the number"))
def fun(num1, num2):
  if press==1:
    return (num1+num2, "addition")
  if press==2:
    return (num1-num2, "subsraction")
  if press==3:
    return (num1*num2, "mu;tiplication")
  if press==4:
    return (num1/num2, "Division")
  else:
    return("sorry code not valid")
fun(15,10)

enter the number2

(5, 'subsraction')